<footer class="bg-light d-flex flex-wrap p-5 justify-content-between">
    <div class="container-fluid ">
        <div class="row">

            <div id="fstart" class="col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 g-4">
                <h5>Flat no 504</h5>
                <h5>kompally</h5>
                <h5>Hyd-500014</h5>
            </div>

            <div id="fcenter" class="col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 g-4">

            </div>

            <div id="fend" class="col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 g-4 ">
                <h5>abcd@mail.com</h5>
                <h5>+91 9876543210</h5>
                <h5>AR Solutions</h5>

            </div>

        </div>
    </div>

</footer>