<nav class="navbar navbar-expand-sm  mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fab fa-autoprefixer text-danger display-6"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex justify-content-center  ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLink="home" routerLinkActive="active">
                        <span class="d-block mx-auto"><i class="fal fa-home-alt text-dark mt-2 " id="homeicon"></i></span>
                        <span class="button1 text-center">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  d-flex flex-column" routerLink="signUp" routerLinkActive="active">
                        <span class="d-block mx-auto"><i class="fal fa-user-plus text-dark mt-2" id="signupicon"></i></span>
                        <span class="button1 text-center">Signup</span>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link d-flex flex-column" routerLink="login" routerLinkActive='active'>
                        <span class="d-block mx-auto"><i class="fal fa-sign-in text-dark  mt-2" id="loginicon"></i></span>
                        <span class="button1 text-center">Login</span>
                    </a>
                </li>
                <li class="nav-item"  (click)="userLogout() ">
                    <a class="nav-link  d-flex flex-column" routerLink="login" routerLinkActive='active'>
                        <span class="d-block mx-auto"><i class="fal fa-sign-out text-dark  mt-2" id="logouticon"></i></span>
                        <span class="button1  text-center">Logout</span>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link  d-flex flex-column" routerLink="book" routerLinkActive="active ">
                        <span class="d-block mx-auto"><i class="fal fa-bus text-dark  mt-2" id="busicon"></i></span>
                        <span class="button1 text-center">BookTickets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLink="hotels" routerLinkActive='active'>
                        <span class="d-block mx-auto"><i class="fal fa-hotel text-dark  mt-2"  id="hotelsicon"></i></span>
                        <span class="button1 text-center">Hotels</span>
                    </a>
                </li>

                <li class="nav-item" >
                    <a class="nav-link  d-flex flex-column" routerLink="profile" routerLinkActive='active'>
                        <span class="d-block mx-auto"><i class="far fa-user-circle text-dark  mt-2" id="profileicon"></i></span>
                        <span class="button1 text-center">Profile</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</nav>



<div style="min-height: 60vh;  ">
    <div style="background-color: rgb(11, 35, 54); ">
        <div class="container pt-5 pb-5 d-block mx-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<app-footer class="mt-auto "></app-footer>