<nav class="navbar navbar-expand-sm navbar-light bg-dark mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fab fa-autoprefixer text-danger display-6"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active"><button
                            class="button1">Home</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="signUp" routerLinkActive="active"><button class="button1">Sign
                            up</button></a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLink="login" routerLinkActive='active'><button
                            class="button1">Login</button></a>
                </li>
                <li class="nav-item"  (click)="userLogout() ">
                    <a class="nav-link" routerLink="login" routerLinkActive='active'><button class="button1">Log
                            out</button></a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link " routerLink="book" routerLinkActive="active "><button class="button1 ">Book
                            Tickets</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="hotels" routerLinkActive='active'><button class="button1 ">
                        Hotels</button></a>
                </li>

                <li class="nav-item" >
                    <a class="nav-link " routerLink="profile" routerLinkActive='active'><button class="button1 ">
                        Profile</button></a>
                </li>


            </ul>
        </div>
    </div>
</nav>



<div style="min-height: 60vh;  ">
    <div style="background-color: rgb(11, 35, 54); ">
        <div class="container pt-5 pb-5 d-block mx-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<app-footer class="mt-auto "></app-footer>