<div class=" text-center text-white p-3">
    <p class="heading">Sign Up</p>
</div>
<form #ref="ngForm" (ngSubmit)="onSignUp(ref.value)" class="w-75 mx-auto ">
    <div class="form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="name@example.com" name="username" ngModel>
        <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" ngModel>
        <label for="password">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="email id" name="email" ngModel>
        <label for="email">Email id</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="DOB" placeholder="DOB" name="DOB" ngModel>
        <label for="DOB">Dob</label>
    </div>
    <div class="text-center pb-5 pt-3">
        <button class="btn btn-success " type="submit" style="font-size: large;font-style: oblique;">Sign Up</button>
    </div>
</form>