<h3 class="text-center text-light me-5 pt-2">
    Welcome <span class="text-warning">{{userObj.username}}!!</span></h3>

<div class=" p-5">

    <div class="row">

        <div class="col-sm-3 ">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/000/550/731/small/user_icon_004.jpg" alt="">
        </div>

        <div class="col-sm-6 ">
            <h3 class="txt pb-2 pt-2">Name : <span class="text-light pb-2">{{userObj.username}}</span> </h3>
            <h3 class="txt pb-2"> Date of Birth : <span class="text-light pb-2">{{userObj.DOB}}</span></h3>
            <h3 class="txt pb-2"> Email : <span class="text-light pb-2">{{userObj.email}}</span> </h3>
        </div>
    </div>
</div>